*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer,header{
    /* background-color: rgb(21, 117, 206); */
    color: white;
    text-align: center;
    padding: 1rem;
    background-image: radial-gradient(circle, rgb(21, 117, 206), rgb(72, 211, 230));
}

.container{
    display: flex;
    flex-direction: row;
    /* justify-content: 100vh; eje principal x */
    
    flex: 1;
    
}

.container2{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3em;
    align-items: center;
}

.data-container{
    display: flex;
    flex-direction:column;
    border: 1px solid rgb(22, 150, 224);
    padding: 1em;
    border-radius: .3em;
    width: 80%;
    margin-top: 2em;
}


.a-new{
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: rgb(22, 150, 224);
    color: white;
    padding: .5em;
    border-radius: .5em;
}
.a-new:hover{
    background-color: rgb(50, 195, 214);
    color: white;
}

.record{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4rem;
    margin: 4px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 5px;

}

.buttons a{
    text-decoration: none;
    cursor: pointer;
    padding: .2rem;
    background-color: rgb(22, 150, 224);
    color: white;
    border: none;
    border-radius: .2rem;
    margin: .2rem;
}

.buttons button:hover{
    background-color: rgb(72, 211, 230);
    color: black;
}

.menu{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    height: 100%;
    justify-content: center;
    text-align: center;
    background-image: radial-gradient(circle, rgb(21, 117, 206), rgb(72, 211, 230));
}

.menu li{
    padding: 1.5rem;
    margin-left: 1rem;
    align-items: center;
    list-style: none;
}

.menu a{
    text-decoration: none;
    padding: .5rem;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.menu a:hover{
    background-color: white;
    color: black;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

